<div>{{postArr | json}}</div>


<div class="text-white" *ngFor="let post of postArr; let i = index ">

<div>{{post.titolo}}</div>
<div>{{post.autore}}</div>
<div>{{post.categoria}}</div>
<button (click)="toggleComments(i); getcomment(post)" >MOSTRA COMMENTI</button>

<div *ngIf="showComments[i]">
  <form (ngSubmit)="submitComment(commentForm, post)" #commentForm="ngForm">
    <input type="text" name="testo" [(ngModel)]="comment.testo">
    <button class="btn btn-outline-info">PUBBLICA</button>
  </form>
  <div *ngFor="let commento of commentiPostArr[post.id]">{{commento.testo}} </div>

</div>

<div class="text-white">{{post.likes}}</div>
<button (click)="like(post)"> LIKE</button>
<button (click)="favorite(post.id)">ADD TO LIKED</button>

</div>

<form (ngSubmit)="submitForm(commentForm)" #commentForm="ngForm">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newPost.titolo"
      placeholder="Enter title" required #title="ngModel">
    <div *ngIf="title.invalid && title.dirty" class="alert alert-danger">
      You must enter a title
    </div>
    </div>
</form>

