:root {
  --border-radius: 10px;
}
.container2{
  max-width: 1300px;
  margin: 0 auto;
}
a {
  color: #f96332;
}
.m-t-5{
  margin-top: 5px;
}
.card {
  background: #fff;
  margin-bottom: 30px;
  transition: .5s;
  border: 0;
  border-radius: .1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  box-shadow: none;
}
.card .body {
  font-size: 14px;
  color: #424242;
  padding: 20px;
  font-weight: 400;
}
.profile-page .profile-header {
  position: relative
}

.profile-page .profile-header .profile-image img {
  border-radius: 50%;
  width: 140px;
  border: 3px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.profile-page .profile-header .social-icon a {
  margin: 0 5px
}

.profile-page .profile-sub-header {
  min-height: 60px;
  width: 100%
}

.profile-page .profile-sub-header ul.box-list {
  display: inline-table;
  table-layout: fixed;
  width: 100%;
  background: #eee
}

.profile-page .profile-sub-header ul.box-list li {
  border-right: 1px solid #e0e0e0;
  display: table-cell;
  list-style: none
}

.profile-page .profile-sub-header ul.box-list li:last-child {
  border-right: none
}

.profile-page .profile-sub-header ul.box-list li a {
  display: block;
  padding: 15px 0;
  color: #424242
}
body, html {
  background: #e2e9f4;
  display: grid;
  height: 100%;
  grid-template: 1fr/100%;
  place-items: center;
}

.Search {
  padding: 1px;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
  overflow: hidden;

  width: auto;
  margin-bottom:30px ;
}

.SearchInner {
  padding: 16px 16px;
  background-color: #ffffff;
  border-radius: var(--border-radius);
}

.container {
  display: flex;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow:
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;

  svg {
    transform: translate(-1px, -1px);
  }
}

label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;
  margin-bottom: 12px;
  background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
  background-clip: text;
}

.InputContainer {
  width: 100%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

.input {
  background-color: #e3edf7;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  appearance: none;
  transition: all 240ms ease-out;
  width: 100%;

  &::placeholder {
    color: #6d7f8f;
  }

  &:focus {
    outline: none;
    color: #6d7f8f;
    background-color: lighten(#e3edf7, 3%);
  }
};

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);

  position: relative;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  &:before,
  &:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &:before {
    box-shadow: var(--bottom-shadow);
  }

  &:after {
    box-shadow: var(--top-shadow);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;
  height: 32px;
  width: 81px;
  border: none;
  background: #fff;
  border-radius: 20px;

  cursor: pointer;
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #DE8A2A;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.bi-pencil-fill{
  color:#DE8A2A
}
.button:hover {
  background: #1b1b1cea;
}

.button:hover .svg-icon {
  animation: rotate 1.3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}





.cardcentral {
  position: relative;
  background-color: #efeff0;
  padding: 1em;
  z-index: 5;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: auto;
  transition: 200ms ease-in-out;
}

.username {
  color: #bb2e04;
  font-size: 0.85em;
  font-weight: 600;
}

.body {
  display: flex;
  flex-direction: column;
}

.body .text {
  margin: 0 10px 0 0;
  white-space: pre-line;
  color: #161616;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}

.footer div {
  margin-right: 1rem;
  height: 20px;
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.footer svg {
  margin-right: 5px;
  height: 100%;
  stroke: #9fa4aa;
}

.ui-bookmark {
  --icon-size: 24px;
  --icon-secondary-color: rgb(77, 77, 77);
  --icon-hover-color: rgb(97, 97, 97);
  --icon-primary-color: gold;
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

.ui-bookmark input {
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-bookmark .bookmark {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  -ms-transform-origin: top;
  transform-origin: top;
}

.bookmark::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -ms-transform: scale(0);
  transform: scale(0);
}

.bookmark::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.ui-bookmark:hover .bookmark {
  fill: var(--icon-hover-color);
}

.ui-bookmark input:checked + .bookmark::after {
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: var(--icon-anmt-duration);
}

.ui-bookmark input:checked + .bookmark {
  fill: var(--icon-primary-color);
  animation: bookmark var(--icon-anmt-duration) forwards;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-bookmark input:checked + .bookmark::before {
  animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: var(--icon-anmt-duration);
}

@keyframes bookmark {
  50% {
    transform: scaleY(0.6);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circles {
  from {
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

.heart-container {
  --heart-color: red;
  position: relative;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;

}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked ~ .svg-container .svg-filled {
  display: block;
}

.heart-container .checkbox:checked ~ .svg-container .svg-celebrate {
  display: block;
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}


