<nav *ngIf="isUserLoggedIn" class="navbar sticky-top navbar-expand-lg bg ">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul [ngClass]="{
        'navbar-nav': true,
        'd-flex': !isUserLoggedIn,
        'justify-content-center': !isUserLoggedIn,
        'w-100': true
      }">
        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link active text-white" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link text-white" routerLink="/posts">Post</a>
        </li>



        <li class="nav-item dropdown" *ngIf="isUserLoggedIn">
          <a class="nav-link dropdown-toggle text-white" (click)="show = !show" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu bg-secondary " [ngClass]="{show}">
            <li><a  routerLink="profile/favorites" class="dropdown-item ">Il tuo Account</a></li>
            <li><a routerLink="profile/details" class="dropdown-item  ">I tuoi post</a></li>
            <li><a routerLink="profile/details" class="dropdown-item  ">I tuoi post preferiti</a></li>
            <li><a routerLink="profile/details" class="dropdown-item  ">I tuoi commenti</a></li>
          </ul>

        </li>

        <li  class="nav-item" *ngIf="isUserLoggedIn">
          <div class="toggle-switch">
            <label class="switch-label">
              <input type="checkbox" class="checkbox">
              <span class="slider"></span>
            </label>
          </div>
      </li>


      </ul>
      <button class="Btn" (click)="logout()">

        <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

        <div class="text">Logout</div>
      </button>
    </div>
  </div>
</nav>
